@font-face {
    font-family: 'Pokemon GB';
    src: url("./Pokemon GB.ttf");
}
* {
    margin: 0;
    padding: 0;

}

.Pokesite {

    
    width: 100%;
    height: 100vh;
    background: url("https://wallpaperaccess.com/full/3551108.jpg");
    display: flex;
    flex-direction: row;
    align-content: space-between;
    

}

.pokeLeft {
    height: 100%;
    width: 50%;
    
}
.pokeLeftContent {
    width: 600px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: auto;
    margin-left: auto;
}
.pokeLeftContent .search {
    font-family: "Pokemon GB", serif;
    font-size: 50px;
    color: white;
    font-weight: 500px;
    text-transform: uppercase;
    text-align: center;

}
.pokeLeftContent .searchDesc {
    font-family: "Pokemon GB", serif;
    padding: 20px 0;
    
    font-size: 10px;
    color: white;
    

}


.pokeLeftContent input {
    height: 100px;
    width: 100%;
    font-size: 35px;
    text-transform: uppercase;
    outline: none;
    border: none;
    padding-left: 50px;
    color: white;
    background-color:rgba(0, 0, 0, 0.24);
    font-family: "Pokemon GB", serif;
}
.pokeLeftContent input::placeholder {
    color:rgba(255, 255, 255, 0.47);
    padding-left: 50px;

}
.pokeLeftContent input::value {
    padding-left: 20px;

}


.pokeLeftContent button {
    height: 250px;
    width: 250px;
    align-self: center;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    transition: 1s ease-in;
    background-color: transparent;
    margin-top: 50px;

}
.pokeLeftContent button:hover {

    animation-name: spin;
    animation-duration: 700ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 


}
.innerPoke {
    background-color: brown;
    width: 300px;
    height: 300px;
    position: relative;
    right: 10%;
    bottom: 5%;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    border-radius: 100%;
    border: 10px solid black;
    z-index: 2;
}
.midPoke {
    background-color: black;
    height: 30px;
    position: relative;
    top: 45%;
    z-index: 4;

}
.midCircle {
    position: absolute;
    background-color: black;
    height: 120px;
    width: 120px;
    border-radius: 100%;
    bottom: 30%;
    left: 30%;
    z-index: 5;
}
.midInnerCircle {
    position: absolute;
    background-color: white;
    height:80px;
    width: 80px;
    border-radius: 100%;
    bottom: 17%;
    left: 17.5%;
}

.innerBottom {
    background-color: white;
    height: 150px;
    width: 300px;
    position: relative;
    top: 40%;
    border-radius: 0 0 300px 300px;
    z-index: 2;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
.pokeRight {
    height: 100%;
    width: 50%;
   
}
.pokedex {
    margin-right: auto;
    margin-left: auto;
    background-color: #C42A2A;
    height: 630px;
    width: 500px;
    margin-top: 50px;
    border-radius: 20px;
    border: 10px solid brown
}
.pokedexTop {
    display: flex;
    flex-direction: row;
    position: relative;
    
}

.pokedexTopLeft {
    height: 100px;
    width: 60%;
    background-color: #C42A2A;
    border-bottom: 10px solid brown;
    z-index: 2;
    display: flex;
    flex-direction: row;
    position: relative;
    box-shadow: 10px 10px 0px -22px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 10px -22px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 33px -22px rgba(0,0,0,0.75);
    

}
.bigCircle {
    position: relative;
    width: 60px;
    height: 60px;
    border: 5px solid white;
    border-radius: 100%;
    background-color: aqua;
    top: 14%;
    left: 10%;
    box-shadow: 10px 10px 33px -22px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 33px -22px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 33px -22px rgba(0,0,0,0.75);
}
.circleArray {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 20%;
    top: 20%;
    gap: 10px;
    
}
.smallCircle {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    box-shadow: 10px 10px 33px -22px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 33px -22px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 33px -22px rgba(0,0,0,0.75);
    


}
#first {
    background-color: red;
}
#second {
    background-color: yellow;
}
#third {
    background-color: green;
}
.pokedexTopRight {
    border-bottom: 10px solid brown;
    z-index: 2;
    width: 40%;
    height: 65px;
    border-radius: none;
    background-color: #C42A2A;
    
}
.line {
    position: absolute;
    background-color: brown;
    width: 10px;
    height: 40px;
    z-index: 1;
    bottom: 0px;
    right: 38%;
}

.pokemonWindow {
    height: 330px;
    width: 400px;
    background-color: #C2D9AD;
    border: 3px solid gray;
    border-radius: 50px;
    position: relative;
    left: 10%;
    top: 4%;


}
.pokemonWindow p{
    font-size: 30px;
    text-transform: uppercase;
    font-family: "Pokemon GB", serif;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 20px;


}
.random {
    font-size: 10px !important;
}
.windowTop {
    display: flex;
    flex-direction: row;
}
.windowTop p {
    font-size: 30px;
    padding-top: 50px;
    

}
.windowTop>img {
    padding-top: 10px;
    padding-left: 10px;
    width: 180px;
    height: auto;
    padding-bottom: 10px;
}
.bottomDisplay {
    position: relative;
    top: 7%;
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    gap: 35px;
    
}
.displayLeft {
    position: relative;
    top: 10%;
    left: 5%;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color: black;

}
.displayMid {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 8%;
    left: 5%;
}
.midTopButtons {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 10%;
    gap: 20px;

}
.midTopButton {
    background-color: red;
    height: 5px;
    width: 65px;
    border-radius: 5px;
}
#blue {
    background-color: blue;
}
.midBottomButton {
    position: relative;
    top: 12%;
    height: 80px;
    width: 200px;
    border-radius: 8px;
    background-color: green;
    border: none;
}
.displayRight {
    position: relative;
    top: 40%;
    left: 10%;
}
.xButtonLayer1 {
    width: 70px;
    height: 20px;
    border-radius: 20px;
    background-color: black;
}
.xButtonLayer2 {
    position: absolute;
    bottom: 62%;
    right: 35%;
    width: 20px;
    height: 70px;
    border-radius: 20px;
    background-color: black;

}


